body{
    background-color: rgba(44, 102, 247, 0.481);
    color: rgba(0, 4, 38, 0.944);
    font: bolder;
    font-weight: bolder;
      
    
}

head{
    
}

.button{
    background-color: rgba(50, 194, 2, 0.756);
    border-radius: 15px;
    padding: 2px 10px 2px 10px;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    margin-left: 50%;
    
}

textarea{
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgba(252, 243, 64, 0.709);
    box-shadow: black 4px 4px;
}

div{
    display: flexbox;
    align-items: center;
    margin: auto;
    text-align: center;
}